* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #212121;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 50rem;
}

.instagram-continue {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
    width: 50%;
    min-height: 34rem;
}

.sign-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #424242;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid #616161
}

.sign-group:nth-child(1) {
    min-height: 19rem;
}

.sign-group:nth-child(2) {
    margin-top: 8px;
}

.instagram-logo {
    height: 3.6rem;
}

#instagram-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

#instagram-avatar img {
    height: 6rem;
    width: 6rem;
}

.instagram-login {
    background-color: #212121;
    color: #E0E0E0;
    padding: 8px;
    border-radius: 4px;
}

.instagram-login:hover {
    background-color: #1a1a1a;
    color: #FAFAFA;
    transition: 500ms;
}

.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
}

.instagram-logout:hover {
    color: #4cb4f8;
    transition: 700ms;
}

.not-account {
    color: #E0E0E0;
}

.not-account:nth-child(2) {
    padding-top: 10px;
}

.link-blue {
    color: #0095f6;
}

.link-blue:hover {
    color: #4cb4f8;
    transition: 700ms;
    cursor: pointer;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.button-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.get-app {
    color: #E0E0E0;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('./img/apple-button.png');
}

.app-download:nth-child(2) {
    background-image: url('./img/googleplay-button.png');
}

@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #424242;
    }

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }

    .sign-group {
        border: 1px solid transparent;
    }
} 